DLGTEMPLATE IDD_DISPDLG 
BEGIN
	DIALOG "Status", IDD_DISPDLG, 11, 82, 413, 137, NOT FS_DLGBORDER | FS_BORDER | FS_SCREENALIGN | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "Sample", 107, 257, 0, 156, 75, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 105, 0, 127, 336, 10, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 104, 0, 99, 336, 28, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 103, 0, 75, 336, 24, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 101, 0, 0, 183, 75, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 102, 182, 0, 75, 75, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		LTEXT "00", IDD_TIME_HR, 276, 128, 11, 8
		LTEXT "00", IDD_TIME_MIN, 292, 128, 11, 8
		LTEXT "0000", IDD_TIME_SEC, 308, 128, 24, 8
		LTEXT "S.T.", IDD_SIDREAL_STR, 5, 78, 16, 8
		LTEXT "U.T.", IDD_UNIVERSAL_STR, 5, 87, 18, 8
		LTEXT "RA Encoder:", IDD_RA_STR, 261, 10, 66, 8
		LTEXT "Telescope", 401, 5, 109, 43, 8
		LTEXT "Next Object", 403, 5, 100, 49, 8
		LTEXT "0", IDD_RA, 321, 1, 54, 8
		LTEXT "DEC Encoder:", IDD_DEC_STR, 262, 1, 66, 8
		LTEXT "0", IDD_DEC, 321, 10, 54, 8
		LTEXT "Dome Azimuth:", IDD_DOME_STR, 114, 79, 66, 8
		LTEXT "000.0", IDD_DOME, 183, 79, 25, 8
		LTEXT "Telescope Focus:", IDD_FOCUS_STR, 114, 88, 71, 8
		LTEXT "00000", IDD_FOCUS, 189, 88, 29, 8
		LTEXT "North:", IDD_NORTH_STR, 342, 129, 34, 8
		LTEXT "0", IDD_NORTH, 390, 129, 7, 8
		LTEXT "South:", IDD_SOUTH_STR, 342, 122, 34, 8
		LTEXT "0", IDD_SOUTH, 390, 122, 7, 8
		LTEXT "East:", IDD_EAST_STR, 342, 115, 34, 8
		LTEXT "0", IDD_EAST, 390, 115, 7, 8
		LTEXT "West:", IDD_WEST_STR, 342, 108, 34, 8
		LTEXT "0", IDD_WEST, 390, 108, 7, 8
		LTEXT "Focus In:", IDD_FOCUSIN_STR, 342, 99, 43, 8
		LTEXT "0", IDD_FOCUSIN, 390, 99, 8, 8
		LTEXT "Focus Out:", IDD_FOCUSOUT_STR, 342, 92, 49, 8
		LTEXT "0", IDD_FOCUSOUT, 390, 92, 7, 8
		LTEXT "Slew:", IDD_SLEW_STR, 342, 83, 34, 8
		LTEXT "0", IDD_SLEW, 390, 83, 7, 8
		LTEXT "Guide/Set:", IDD_GUIDESET_STR, 342, 76, 58, 8
		LTEXT "0", IDD_GUIDESET, 390, 76, 7, 8
		LTEXT "Drives On/Off:", IDD_DRIVES_STR, 263, 63, 61, 8
		LTEXT "0", IDD_DRIVES, 329, 63, 7, 8
		LTEXT "Guider:", IDD_GUIDER_STR, 263, 55, 34, 8
		LTEXT "0", IDD_GUIDER, 329, 55, 7, 8
		LTEXT "Tracking:", IDD_TRACKING_STR, 263, 47, 42, 8
		LTEXT "0", IDD_TRACKING, 329, 47, 7, 8
		LTEXT "Auto dome:", IDD_AUTODOME_STR, 263, 39, 59, 8
		LTEXT "0", IDD_AUTODOME, 329, 39, 7, 8
		LTEXT "00", IDD_SIDE_HR, 29, 78, 11, 8
		LTEXT "00", IDD_SIDE_MIN, 45, 78, 11, 8
		LTEXT "00", IDD_SIDE_SEC, 61, 78, 19, 8
		LTEXT "00", IDD_UNIV_HR, 29, 87, 11, 8
		LTEXT "00", IDD_UNIV_MIN, 45, 87, 11, 8
		LTEXT "00", IDD_UNIV_SEC, 61, 87, 19, 8
		LTEXT "Rotator Angle:", IDD_ROTATOR_STR, 239, 88, 59, 8
		LTEXT "Track", 440, 5, 55, 27, 8
		LTEXT "000.0", IDD_ROTATOR, 301, 88, 26, 8
		LTEXT "000.000000", 441, 53, 55, 53, 8
		LTEXT "000.000000", 445, 116, 55, 53, 8
		LTEXT "RA", 701, 117, 117, 15, 8
		LTEXT "00", 703, 118, 109, 11, 8
		LTEXT "00", 740, 132, 109, 11, 8
		LTEXT "00.0", 741, 146, 109, 19, 8
		LTEXT "Mean DEC:", 801, 280, 25, 46, 8
		LTEXT "00", 803, 326, 25, 20, 8
		LTEXT "00", 840, 345, 25, 20, 8
		LTEXT "00", 841, 364, 25, 19, 8
		LTEXT "HA", 901, 59, 117, 17, 8
		LTEXT "00", 903, 59, 109, 10, 8
		LTEXT "00", 940, 74, 109, 10, 8
		LTEXT "00.0", 941, 88, 109, 19, 8
		LTEXT "DEC", 943, 180, 117, 21, 8
		LTEXT "000", 944, 181, 109, 15, 8
		LTEXT "00", 945, 200, 109, 10, 8
		LTEXT "00.0", 946, 214, 109, 19, 8
		LTEXT "Epoch", 447, 245, 117, 32, 8
		LTEXT "0000.0", 448, 246, 109, 29, 8
		LTEXT "00", 1043, 118, 100, 11, 8
		LTEXT "00", 1049, 132, 100, 11, 8
		LTEXT "00.0", 1050, 146, 100, 19, 8
		LTEXT "000", 1052, 181, 100, 15, 8
		LTEXT "00", 1053, 200, 100, 11, 8
		LTEXT "00.0", 1054, 214, 100, 19, 8
		LTEXT "RA", 443, 53, 63, 15, 8
		LTEXT "DEC", 444, 116, 63, 21, 8
		LTEXT "Guide", 446, 5, 46, 27, 8
		LTEXT "000.000000", 449, 53, 46, 53, 8
		LTEXT "Set", 451, 5, 37, 27, 8
		LTEXT "000.000000", 452, 53, 37, 53, 8
		LTEXT "Trail", 450, 6, 2, 22, 8
		LTEXT "00.0", 453, 37, 2, 26, 8
		LTEXT "00.0", 454, 67, 2, 26, 8
		LTEXT "Rate", 455, 37, 10, 19, 8
		LTEXT "Length", 456, 67, 10, 29, 8
		LTEXT "00.0", 457, 104, 2, 26, 8
		LTEXT "PA", 458, 104, 10, 29, 8
		LTEXT "Offset", 462, 5, 28, 43, 8
		LTEXT "000.000000", 460, 53, 28, 53, 8
		LTEXT "000.000000", 461, 116, 28, 53, 8
		LTEXT "Initialized", 463, 196, 63, 43, 8
		LTEXT "Guide Off", 464, 196, 54, 43, 8
		LTEXT "Track Off", 465, 196, 45, 43, 8
		LTEXT "Drives Off", 466, 196, 36, 43, 8
		LTEXT "Dome Off", 467, 196, 27, 43, 8
		LTEXT "Cos Dec Off", 468, 196, 18, 53, 8
		LTEXT "Hiltner 2.4 Meter Telescope", 106, 4, 128, 122, 8
		CONTROL "Sample", 108, 336, 75, 77, 62, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
	END

END
