DLGINCLUDE 1 "VALUES.H"

DLGTEMPLATE IDD_DISPDLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Status", IDD_DISPDLG, 117, 98, 101, 55, WS_VISIBLE, FCF_SYSMENU | 
            FCF_TITLEBAR
    BEGIN
        LTEXT           "time:", IDD_TIME_STR, 24, 33, 24, 8
        LTEXT           "0", IDD_TIME, 47, 33, 54, 8
        CONTROL         "", IDD_FRAME, 6, 5, 89, 44, WC_STATIC, SS_FGNDFRAME | 
                        WS_GROUP | WS_VISIBLE
    END
END
